# Core functionality - changes here should be rare!
/src/app.py                   @Shalom-platinum
/src/backend/database.py      @Shalom-platinum
/src/backend/routers/auth.py  @Shalom-platinum

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Shalom-platinum
